colorama==0.4.4
datasets==2.0.0
matplotlib==3.5.1
mlflow==1.24.0
nltk==3.7
numpy
pandas
rouge-score==0.0.4
sacrebleu==2.0.0
scipy==1.8.0
sentencepiece==0.1.96
tensorboard
tensorflow>=2.8.0
tokenizers==0.11.6
torch==1.11.0
torchaudio==0.11.0
torchtext==0.12.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.18.0
pytz